head
  meta(property='og:site_name' content='You got Heads')
  meta(property='og:title' content='You got Heads')
  meta(property='og:description' content='The Coin was fliped')
  meta(property='og:image' itemprop='image' content='https://i.ibb.co/cJJ56mj/Head.png')
  meta(property='og:type' content='website')