head
  meta(property='og:site_name' content='You got Tails')
  meta(property='og:title' content='You got Tails')
  meta(property='og:description' content='The Coin was fliped')
  meta(property='og:image' itemprop='image' content='https://i.ibb.co/wBBn6DY/Tails.png')
  meta(property='og:type' content='website')